@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700;800&display=swap");

body {
    margin: 0;
    padding: 0;
}
*{
    Margin:0;
    }
* {
    font-family: Work Sans;
}
.default-margin{
    margin-left: 7rem;
    margin-right: 7rem;
}
.txt-primary{
    color: #534C64;
font-family: Work Sans;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px; 
}
 /* navbar starts here */
.main-nav {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-between;

padding:2.25rem;;
    background: #FFF;
box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);

}
.item-container{
    display: flex;
    gap: 2rem;
}
.logo, .logo-1 {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-left: 7rem;
}

.logo-txt, .logo-txt-1 {
    color: #0b0223;
    font-size: 2rem;
    font-weight: 700;
}

span {
    color: #ff42a5;
}

.logo-img, .logo-img-1 {
    width: 5rem;
    height: 2.3rem;
}

.item {
    cursor: pointer;
    text-decoration: none;
    color: #3c354f;
    text-align: center;
    font-family: Work Sans;
    font-size: 18px;
    font-weight: 500;
}

.option {
    display: flex;
    align-items: center;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.1);
    padding: 0.5rem 1.1rem;
    gap: 1rem;
    
}

.menu {
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-right: 7rem;
}
/* navbar ends here  */


/* homepage section starts here */
.home-section{
    background-image: url('./images/Group\ 14.png');
    background-repeat: no-repeat;
    background-position: left;
}
.main-home{
    display: flex;
    align-items: center;

}
.txt-home{
    width: 50%;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.sub-title h2{
    color: #0B0223;
font-family: Work Sans;
font-size: 2rem;
margin: 0;
text-transform: uppercase;
margin-left: 10rem;
    margin-bottom: 1rem;
}
.main-title h1{
   
    font-family: Work Sans;
    font-size: 4rem;
    font-weight: 800;
    margin: 0;
text-transform: uppercase;
margin-left: 10rem;
margin-bottom: 1rem;
background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

.btn{
 padding: 1rem 2.2rem;
  border-radius: 3rem;
  background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
  color: #FFF;
  font-size: .8rem;
  font-weight: 600;
  text-transform: uppercase;
  border: none;
  margin-left: 10rem;
  cursor: pointer;
}
::selection{
    background-color: #FF42A5;
    color: white;
}
.btn-2{
   background: #4EC5F7;
   margin-left: 0;
}
.detail{
    display: flex;
    margin-left: 10rem;
    align-items: center;
    gap: 2rem;
    padding: 0;
    margin-bottom: 1rem;

}
.icon{

    width: 1.2rem;
    height: 1.2rem;
}
.img-home img{
    width: 100%;
    height: 90%;
    object-fit: contain;
    position: relative;
top: 5px;
}
.img-home{
  top: 2px;
}
/* home section ends here  */


/* Online games section starts here  */
.online-games {
    text-align: center;
    margin-top: 2rem;
  }
  
  .online-games>h2 {
    margin-bottom: 1rem;
  }
  
  .online-games>p {
    margin-bottom: 2rem;
  }
  
  .img-wrappers-container {
    display: flex;
    justify-content: space-between;
    text-align: left;
  }
  
  .img-wrapper img {
    width: 100%;
  }
  
  .img-wrapper {
    width: 23%;
    border-radius: 1rem;
  }
  
  .image-container {
    position: relative;
    display: inline-block;
  }
  
  .hover-txt {
    position: absolute;
    top: 60%;
    left: 52.5%;
    transform: translate(-60%, -50%);
    display: none;
    color: #FF42A5;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    pointer-events: none;
  }
  
  .icon-over-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: linear-gradient(rgba(22, 21, 21, 0.833), rgba(15, 13, 13, 0.904));
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    border: 3px solid rgb(255, 0, 166);
    border-radius: 20px;
    display: none;
  }
  
  .image-container:hover .hover-txt {
    display: block;
  }
  
  .image-container:hover .icon-over-img {
    display: flex;
    align-items: center;
    justify-content: center;
  }

/* Play instantly section style starts */
.main-instantly {
    margin-top: 2rem;
  }
  
  .instantly-1 {
    display: flex;
    align-items: center;
    gap: 2rem;
  }
  
  .instantly-img-container {
    width: 70%;
    text-align: right;
    position: relative;
  }
  
  .instantly-img {
    width: 75%;
  }
  
  .instantly-content {
    text-align: right;
  }
  
  .instantly-content h2,
  .instantly-content p {
    padding-left: 45%;
    margin-bottom: 1rem;
  }
  
  .play-instant-absolute-img {
    position: absolute;
    bottom: -2rem;
    width: 35%
  }
  
  .play-instant-absolute-img img {
    width: 100%;
  }
  
/* genre button section starts here  */
.main-genre{
    padding-top: 112px;
    margin-bottom: 0;
    width: 100%px;
height: 414px;
background-color: #fff9fc;
align-items: center;
}
.genre{display: flex;
align-items: center;
gap: 1rem;
width: 248px;
height: 80px;}
.main-genre-1{margin-bottom: 2rem;}
.main-genre-1, .main-genre-2{
    
    display: flex;
    gap: 1.7rem;
    justify-content: center;
  
}
.bton{font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;}
.genre:hover{
    border: 1px solid #F948B2;
    width: 230px;
    height: 70px;
border-radius: 50px;
color: #FF42A5 ;
flex-shrink: 0;
padding: 5px;
}
/* genre button section ends  here  */


/* footer section starts here  */
.main-footer{
    width: 100%;
height: 600px;
background: #0B0223;
}
.logo-1{
    padding-top: 7rem;
    justify-content: center;
  
}
.logo-txt-1{
    justify-content: center;
    color: white;
}
.link{
    display: flex;
    justify-content: center;
    margin-top: 4.1rem;
    gap: 60px;
}
.link h3{
    color: #FFF;
text-align: center;
font-family: Work Sans;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.main-icon{
    display: flex;
    justify-content: center;
    gap: 2.5rem;
    margin-top: 4.1rem;
}
.primary-terms{
    color: rgba(255, 255, 255, 0.60);
text-align: center;
font-family: Work Sans;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;

}
.txt-btn ul{
    display: flex;
    justify-content: center;
    list-style: none;
    margin-top: 4.6rem;
    gap: 3.75rem;
}
.copyright p{
    max-width: max-content;
    margin: 1.9rem auto;
    color: rgba(255, 255, 255, 0.60);
text-align: center;
font-family: Work Sans;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
}